.img-table {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: block;
  margin-left: 16px;
  cursor: pointer;
}

.card-select label {
  display: block;
}

.w-full {
  width: 100% !important;
}


