<nb-layout>
  <nb-layout-column>
    <p-toast />
    <nb-card class="container-card">
      <nb-card-header class="card-head-pages">
        <h4>MINHAS CAMPANHAS</h4>
        <button (click)="openModal(false, null)" nbButton status="success">
          <nb-icon icon="plus-outline"></nb-icon> Adicionar
        </button>
      </nb-card-header>

      <!-- DISPLAY TABLE WITH DATA PERSONALIZATION -->
      <div class="container-table">
        <p-table
          #dt1
          dataKey="id"
          [value]="items"
          styleClass="p-datatable-striped"
          [tableStyle]="{ 'min-width': '75rem' }"
          [paginator]="true"
          [rows]="15"
          [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[15, 30, 45]"
          currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} registros"
          [globalFilterFields]="['name', 'price', 'whatsApp', 'status']"
        >
          <ng-template pTemplate="caption" class="caption">
            <div class="flex">
              <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input
                  class="input-search"
                  pInputText
                  type="text"
                  (input)="applyFilterGlobal($event, 'contains')"
                  placeholder="Pesquisar"
                />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr class="mg-top-16 padding-16 h-table">
              <th pSortableColumn="">
                CAMPANHAS <p-sortIcon field=""></p-sortIcon>
              </th>
              <th pSortableColumn="name">
                TÍTULO <p-sortIcon field="name"></p-sortIcon>
              </th>
              <th pSortableColumn="price">
                PREÇO <p-sortIcon field="price"></p-sortIcon>
              </th>
              <th pSortableColumn="price">
                % DE VENDAS <p-sortIcon field="price"></p-sortIcon>
              </th>
              <th pSortableColumn="status">
                STATUS <p-sortIcon field="status"></p-sortIcon>
              </th>
              <th>AÇÕES</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-items>
            <tr>
              <td class="mg-left-16">
                <img
                  (click)="openImage(items.image.url)"
                  class="img-table"
                  [src]="items.image.url"
                  alt=""
                />
              </td>
              <td class="uppercase">{{ items.name }}</td>
              <td>{{ items.price | currency : "BRL" }}</td>
              <td>{{ items.status }}</td>
              <td>
                @switch (items.status) { @case (0) {
                <span class="badge badge-success">ATIVA</span>
                } @case (1) {
                <span class="badge badge-warning">VENDAS FINALIZADAS</span>
                } @case (2) {
                <span class="badge badge-dark">CONCLUIDA</span>
                } @case (3) {
                <span class="badge badge-danger">CANCELADA</span>
                } }
              </td>
              <td>
                <span>
                  <button
                    (click)="openModal(true, items)"
                    nbButton
                    ghost
                    status="primary"
                  >
                    <nb-icon icon="edit-2-outline"></nb-icon>
                  </button>
                </span>
                <span>
                  <button 
                   (click)="deleteItem(items.objectId)" 
                  nbButton ghost status="danger">
                    <nb-icon icon="trash-2-outline"></nb-icon>
                  </button>
                </span>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <!-- END DISPLAY TABLE WITH DATA PERSONALIZATION -->

      <!-- DISPLAY MODAL -->
      <div class="card">
        <form [formGroup]="form" (ngSubmit)="save()">
          <p-dialog
            [(visible)]="visible"
            [header]="headerModal"
            closeicon="pi pi-times"
            [modal]="true"
            [style]="{ width: '45rem' }"
          >
            <p-fileUpload
              (onSelect)="onUpload($event)"
              accept="image/*"
              maxFileSize="100000000"
              mode="advanced"
              [showUploadButton]="false"
            >
              <ng-template #empty>
                <div>
                  Você pode arrastar e soltar a foto de sua campanha aqui.
                </div>
              </ng-template>
              <ng-template #content>
                @for (file of uploadedFiles; track $index) {
                <ul>
                  @if (file.length) {
                  <li>{{ file.name }} - {{ file.size }} bytes</li>
                  }
                </ul>
                }
              </ng-template>
            </p-fileUpload>

            <nb-form-field class="center-form mg-top-16">
              <label class="bold" for="regulation">Título da campanha</label>
              <input
                placeholder="Título da campanha"
                size="large"
                fullWidth=""
                type="text"
                autofocus=""
                nbInput
                formControlName="name"
              />
            </nb-form-field>
            <div class="editor mg-top-16">
              <label class="bold" for="regulation">Regras e premiações</label>
              <p-editor
                formControlName="regulation"
                [style]="{ height: '100px' }"
              />
            </div>

            <div class="flex-form mg-top-16">
              <nb-form-field class="center-form">
                <label class="bold" for="price">Preço</label>
                <input
                  placeholder="Preço"
                  size="large"
                  fullWidth=""
                  type="text"
                  (input)="formatValueWithBRL($event)"
                  nbInput
                  formControlName="price"
                />
              </nb-form-field>

              <nb-form-field class="center-form">
                <label class="bold" for="drawDate">Data do sorteio</label>
                <input
                  placeholder="Data do sorteio"
                  size="large"
                  fullWidth=""
                  type="date"
                  autofocus=""
                  nbInput
                  formControlName="drawDate"
                />
              </nb-form-field>
            </div>

            <div class="flex-form mg-top-16">
              <div class="card-select">
                <label class="bold" for="prizeDraw">Sorteio via</label>
                <p-select
                  formControlName="prizeDraw"
                  [options]="prizeDraw"
                  placeholder="Sorteio via"
                  class="w-full"
                />
              </div>

              <div class="card-select">
                <label class="bold" for="fileTickets">Qtde de bilhetes</label>
                <p-select
                  formControlName="fileTickets"
                  [options]="qtdRaffles"
                  placeholder="Qtde de bilhetes"
                  class="w-full"
                  [readonly]="headerModal === 'Editar campanha'"
                />
              </div>
            </div>

            <nb-form-field class="center-form mg-top-16">
              <label class="bold" for="whatsApp">WhatsApp para suporte</label>
              <input
                placeholder="WhatsApp para suporte"
                size="large"
                fullWidth=""
                type="text"
                appPhoneMask
                nbInput
                formControlName="whatsApp"
              />
            </nb-form-field>

            <div class="card flex justify-center border-none mg-top-16">
              <label for="showProgress" class="bold"
                >Mostrar barra de progresso?</label
              >
              <p-toggleswitch formControlName="showProgress" />
            </div>

            <div class="card flex justify-center border-none mg-top-16">
              <label for="showBuilders" class="bold"
                >Mostrar ranking de compradores?</label
              >
              <p-toggleswitch formControlName="showBuilders" />
            </div>

            <div class="card flex justify-center border-none mg-top-16">
              <label for="favoriteRaffle" class="bold"
                >Favoritar essa campanha?</label
              >
              <p-toggleswitch formControlName="favoriteRaffle" />
            </div>

            <input type="hidden" formControlName="objectId" />

            <ng-template #footer>
              <p-button
                label="Cancelar"
                [text]="true"
                severity="secondary"
                (click)="resetForm()"
              />
              <p-button
                [label]="
                  headerModal === 'Adicionar campanha'
                    ? 'Criar campanha'
                    : 'Editar campanha'
                "
                type="submit"
                severity="primary"
              />
            </ng-template>
          </p-dialog>
        </form>
      </div>
      <!-- END DISPLAY MODAL -->
    </nb-card>
  </nb-layout-column>
</nb-layout>
<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '3px' }"
></ngx-loading>