.container-header {
    display: flex;
    width: 100%;
   align-items: center;
   margin-left: -20px;
}

.right-float {
    display: block;
    //background-color: black;
    position: absolute;
    width: 100%;

    .actions {
        float: right;
    }
}

