<nb-layout class="login-nb">
  <nb-layout-column class="content-login">
    <nb-card
      size="large"
      class="center-column"
      nbSpinnerStatus="danger"
      nbSpinnerSize="large"
      nbSpinnerMessage=""
      [nbSpinner]="loading"
    >
      <nb-card-body>
        <div class="content">
          @if(logo) {
          <div class="logo">
            <img [src]="logo" alt="Logo" />
          </div>
          }
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <nb-form-field class="center-form">
              <nb-icon nbSuffix icon="email-outline" pack="eva"></nb-icon>
              <input
                placeholder="Digite seu e-mail"
                size="large"
                fullWidth=""
                type="email"
                autofocus=""
                nbInput
                formControlName="email"
              />
            </nb-form-field>
            <nb-form-field class="center-form mg-top-16">
              <input
                placeholder="Digite sua senha"
                size="large"
                fullWidth=""
                [type]="getInputType()"
                nbInput
                formControlName="password"
                type="button"
                autocomplete="current-password"
              />
              <button
                type="button"
                nbSuffix
                nbButton
                ghost
                (click)="toggleShowPassword()"
              >
                <nb-icon
                  [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"
                  pack="eva"
                  [attr.aria-label]="
                    showPassword ? 'hide password' : 'show password'
                  "
                >
                </nb-icon>
              </button>
            </nb-form-field>
            <p class="f-right">Esqueci minha senha</p>

            <button
              class="mg-top-32"
              size="large"
              nbButton
              hero
              fullWidth=""
              status="success"
              type="submit"
              [disabled]="!form.valid"
            >
              Entrar
            </button>
          </form>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
