/* nb-card {
  width: 30%;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  //align-items: center;
  justify-content: center;
}
.center-column {
  display: flex;
  margin: auto;
}

.center-form {
  text-align: center;
}
.logo {
  display: block;
  img {
    display: block;
    margin: 16px auto;
    width: 20em;
    height: auto;
  }
} */
.login-nb {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  .content-login {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    nb-card {
      display: flex;
      flex-direction: column;
      height: auto;
      /* align-items: center; */
      justify-content: center;
      width: 500px;
      .logo img {	
        display: block;
        margin: 16px auto;
        width: 20em;
        height: auto;
      }

      .f-right {
        margin-top: 10px;
        float: right;
      }
    }
  }	
}

