<nb-card
  size="large"
  class="card-complete"
  nbSpinnerStatus="danger"
  nbSpinnerSize="large"
  nbSpinnerMessage=""
  [nbSpinner]="loading"
>
  <nb-card-header class="uppercase">
    <div class="card-forms">
      <h6>
        @if (idRaffles) { Atualizar campanha } @else { Adicionar campanha }
      </h6>

      <nb-icon class="pointer" (click)="close()" icon="close-outline"></nb-icon>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="card">
      <p-toast />
      <p-fileUpload
        (onUpload)="onUpload($event)"
        accept="image/*"
        maxFileSize="1000000"
        mode="advanced"
      >
        <ng-template #empty>
          <div>Você pode arrastar e soltar arquivos aqui.</div>
        </ng-template>
        <ng-template #content>
          @for (file of uploadedFiles; track $index) {
          <ul>
            @if (file.length) {
            <li>{{ file.name }} - {{ file.size }} bytes</li>
            }
          </ul>
          }
        </ng-template>
      </p-fileUpload>
    </div>
  </nb-card-body>
</nb-card>
