/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
* {
  margin: 0;
  padding: 0;
  color-scheme: light !important;
}
.nb-theme-default
  nb-layout
  .layout
  .layout-container
  .content
  .columns
  nb-layout-column {
  padding: 0 !important;
  height: auto !important;
}
.nb-theme-default nb-card.size-large {
  height: auto !important;
}
.p-paginator .p-dropdown .p-dropdown-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* margin configs */
.mg-top-16 {
  margin-top: 16px !important;
}
.mg-left-16 {
  margin-left: 16px !important;
}
.mg-top-32 {
  margin-top: 32px !important;
}

.mg-n-top-16 {
  margin-top: -16px !important;
}

/* border confis */
.border-none {
  border: none !important;
}

/* config head pages admin */
.card-head-pages {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h4 {
    font-size: 16px;
  }
}

.container-table {
  padding: 16px;
}

.input-search {
  padding: 16px;
  margin: 16px;
}

.padding-16 {
  padding: 16px;
}

.h-table th {
  padding: 10px !important;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  margin-left: 8px;
}
.badge-success {
  background-color: #2ce69b;
  color: #fff;
}
.badge-warning {
  background-color: #ffc107;
  color: #fff;
}
.badge-dark {
  background-color: #343a40;
  color: #fff;
}
.badge-danger {
  background-color: #ff3d71;
  color: #fff;
}
.pointer {
  cursor: pointer;
}
.bold {
  font-weight: bold;
}

.nb-theme-default nb-card.size-large {
  display: flex !important;
}

.flex-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.full-width {
  width: 100% !important;
}

.p-confirm-dialog .p-confirm-dialog-footer .p-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.p-confirm-dialog-footer .p-button-text {
  display: inline;
}
.img-table {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: block;
  margin-left: 16px;
  cursor: pointer;
}
.beetwen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  .row {
      margin-right: 10px;
  }
}

.text-uppercase {
  text-transform: uppercase;
}